{% set route = app.request.attributes.get('_route') %}
<ul class="nav nav-tabs main_tab">

    <li role="presentation"{% if route == 'account_author_index' %} class="active"{% endif %}>
        <a href="{{ path('account_author_index') }}">
            Liste des auteurs
        </a>
    </li>
    <li role="presentation"{% if route == 'account_author_add' %} class="active"{% endif %}>
        <a href="{{ path('account_author_add') }}">
            Ajouter un auteur
        </a>
    </li>

</ul>
